/*
@font-face {
    font-family: NucleoIcons;
    src: url(../fonts/nucleo-icons.c1733565.eot);
    src: url(../fonts/nucleo-icons.c1733565.eot) format("embedded-opentype"), url(../fonts/nucleo-icons.42643978.woff2) format("woff2"), url(../fonts/nucleo-icons.2569aaea.woff) format("woff"), url(../fonts/nucleo-icons.f82ec6ba.ttf) format("truetype"), url(../img/nucleo-icons.0b8a30b1.svg) format("svg");
    font-weight: 400;
    font-style: normal
}
*/

.ni {
    display: inline-block;
    font: normal normal normal 14px/1 NucleoIcons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ni-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.ni-2x {
    font-size: 2em;
}

.ni-3x {
    font-size: 3em;
}

.ni-4x {
    font-size: 4em;
}

.ni-5x {
    font-size: 5em;
}

.ni.circle,
.ni.square {
    padding: 0.33333333em;
    vertical-align: -16%;
    background-color: #eee;
}

.ni.circle {
    border-radius: 50%;
}

.ni-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}

.ni-ul>li {
    position: relative;
}

.ni-ul>li>.ni {
    position: absolute;
    left: -1.57142857em;
    top: 0.14285714em;
    text-align: center;
}

.ni-ul>li>.ni.lg {
    top: 0;
    left: -1.35714286em;
}

.ni-ul>li>.ni.circle,
.ni-ul>li>.ni.square {
    top: -0.19047619em;
    left: -1.9047619em;
}

.ni.spin {
    -webkit-animation: nc-spin 2s infinite linear;
    animation: nc-spin 2s infinite linear;
}

@-webkit-keyframes nc-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1turn);
    }
}

@keyframes nc-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

.ni.rotate-90 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ni.rotate-180 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ni.rotate-270 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.ni.flip-y {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.ni.flip-x {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.ni-active-40:before {
    content: "\EA02";
}

.ni-air-baloon:before {
    content: "\EA03";
}

.ni-album-2:before {
    content: "\EA04";
}

.ni-align-center:before {
    content: "\EA05";
}

.ni-align-left-2:before {
    content: "\EA06";
}

.ni-ambulance:before {
    content: "\EA07";
}

.ni-app:before {
    content: "\EA08";
}

.ni-archive-2:before {
    content: "\EA09";
}

.ni-atom:before {
    content: "\EA0A";
}

.ni-badge:before {
    content: "\EA0B";
}

.ni-bag-17:before {
    content: "\EA0C";
}

.ni-basket:before {
    content: "\EA0D";
}

.ni-bell-55:before {
    content: "\EA0E";
}

.ni-bold-down:before {
    content: "\EA0F";
}

.ni-bold-left:before {
    content: "\EA10";
}

.ni-bold-right:before {
    content: "\EA11";
}

.ni-bold-up:before {
    content: "\EA12";
}

.ni-bold:before {
    content: "\EA13";
}

.ni-book-bookmark:before {
    content: "\EA14";
}

.ni-books:before {
    content: "\EA15";
}

.ni-box-2:before {
    content: "\EA16";
}

.ni-briefcase-24:before {
    content: "\EA17";
}

.ni-building:before {
    content: "\EA18";
}

.ni-bulb-61:before {
    content: "\EA19";
}

.ni-bullet-list-67:before {
    content: "\EA1A";
}

.ni-bus-front-12:before {
    content: "\EA1B";
}

.ni-button-pause:before {
    content: "\EA1C";
}

.ni-button-play:before {
    content: "\EA1D";
}

.ni-button-power:before {
    content: "\EA1E";
}

.ni-calendar-grid-58:before {
    content: "\EA1F";
}

.ni-camera-compact:before {
    content: "\EA20";
}

.ni-caps-small:before {
    content: "\EA21";
}

.ni-cart:before {
    content: "\EA22";
}

.ni-chart-bar-32:before {
    content: "\EA23";
}

.ni-chart-pie-35:before {
    content: "\EA24";
}

.ni-chat-round:before {
    content: "\EA25";
}

.ni-check-bold:before {
    content: "\EA26";
}

.ni-circle-08:before {
    content: "\EA27";
}

.ni-cloud-download-95:before {
    content: "\EA28";
}

.ni-cloud-upload-96:before {
    content: "\EA29";
}

.ni-compass-04:before {
    content: "\EA2A";
}

.ni-controller:before {
    content: "\EA2B";
}

.ni-credit-card:before {
    content: "\EA2C";
}

.ni-curved-next:before {
    content: "\EA2D";
}

.ni-delivery-fast:before {
    content: "\EA2E";
}

.ni-diamond:before {
    content: "\EA2F";
}

.ni-email-83:before {
    content: "\EA30";
}

.ni-fat-add:before {
    content: "\EA31";
}

.ni-fat-delete:before {
    content: "\EA32";
}

.ni-fat-remove:before {
    content: "\EA33";
}

.ni-favourite-28:before {
    content: "\EA34";
}

.ni-folder-17:before {
    content: "\EA35";
}

.ni-glasses-2:before {
    content: "\EA36";
}

.ni-hat-3:before {
    content: "\EA37";
}

.ni-headphones:before {
    content: "\EA38";
}

.ni-html5:before {
    content: "\EA39";
}

.ni-istanbul:before {
    content: "\EA3A";
}

.ni-key-25:before {
    content: "\EA3B";
}

.ni-laptop:before {
    content: "\EA3C";
}

.ni-like-2:before {
    content: "\EA3D";
}

.ni-lock-circle-open:before {
    content: "\EA3E";
}

.ni-map-big:before {
    content: "\EA3F";
}

.ni-mobile-button:before {
    content: "\EA40";
}

.ni-money-coins:before {
    content: "\EA41";
}

.ni-note-03:before {
    content: "\EA42";
}

.ni-notification-70:before {
    content: "\EA43";
}

.ni-palette:before {
    content: "\EA44";
}

.ni-paper-diploma:before {
    content: "\EA45";
}

.ni-pin-3:before {
    content: "\EA46";
}

.ni-planet:before {
    content: "\EA47";
}

.ni-ruler-pencil:before {
    content: "\EA48";
}

.ni-satisfied:before {
    content: "\EA49";
}

.ni-scissors:before {
    content: "\EA4A";
}

.ni-send:before {
    content: "\EA4B";
}

.ni-settings-gear-65:before {
    content: "\EA4C";
}

.ni-settings:before {
    content: "\EA4D";
}

.ni-single-02:before {
    content: "\EA4E";
}

.ni-single-copy-04:before {
    content: "\EA4F";
}

.ni-sound-wave:before {
    content: "\EA50";
}

.ni-spaceship:before {
    content: "\EA51";
}

.ni-square-pin:before {
    content: "\EA52";
}

.ni-support-16:before {
    content: "\EA53";
}

.ni-tablet-button:before {
    content: "\EA54";
}

.ni-tag:before {
    content: "\EA55";
}

.ni-tie-bow:before {
    content: "\EA56";
}

.ni-time-alarm:before {
    content: "\EA57";
}

.ni-trophy:before {
    content: "\EA58";
}

.ni-tv-2:before {
    content: "\EA59";
}

.ni-umbrella-13:before {
    content: "\EA5A";
}

.ni-user-run:before {
    content: "\EA5B";
}

.ni-vector:before {
    content: "\EA5C";
}

.ni-watch-time:before {
    content: "\EA5D";
}

.ni-world:before {
    content: "\EA5E";
}

.ni-zoom-split-in:before {
    content: "\EA5F";
}

.ni-collection:before {
    content: "\EA60";
}

.ni-image:before {
    content: "\EA61";
}

.ni-shop:before {
    content: "\EA62";
}

.ni-ungroup:before {
    content: "\EA63";
}

.ni-world-2:before {
    content: "\EA64";
}

.ni-ui-04:before {
    content: "\EA65";
}