body {
    font-family: "K2D", sans-serif !important;
}

li {
    list-style-type: circle;
    padding: 5px 0px;
}

@media screen and (max-width: 700px),
screen and (max-height: 420px) {

    .compass,
    .navigation-controls {
        display: block !important;
    }
}

#Loading {
    position: absolute;
    height: 100%;
    left: 50%;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#Loading h1 {
    text-align: center;
    display: 'inline';
    margin: auto;
    width: 50%;
    padding: 10px;
}

#Logo {
    position: absolute;
    top: 5px;
    z-index: 999;
    height: 120px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#Logo img {
    height: calc(5vw);
    min-height: 50px;
    max-height: 200px;
}

#Credit {
    position: absolute;
    bottom: 25px;
    z-index: 998;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#Credit img {
    height: calc(3vw);
    min-height: 30px;
    max-height: 75px;
}

#SelectFlyTo {
    padding: 5px;
}

#Toolbar {
    display: flex;
    position: absolute;
    z-index: 9999;
    right: 10px;
    top: 50px;
    font-size: 20px;
}

#Toolbar td {
    padding: 5px;
}

.cesium-infoBox {
    left: 5px;
    top: 120px;
}

label {
    color: white;
    cursor: pointer;
}

#Calendar {
    position: absolute;
    z-index: 9999;
    right: 170px;
    bottom: 10px;
    min-width: 270px;
}

#Infographic {
    position: absolute;
    z-index: 999;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%;
    border-radius: 20px;
    background: #ffffffd6;
    outline: solid 15px #ffffffaa;
}

#InfographicClose {
    font-size: 50px;
    color: #555555;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

#InfographicTitle {
    padding: 15px 0px 0px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 2px 2px 5px #666;

}

#InfographicShow {
    padding: 0px 15px 0px 15px;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}

#InfographicContent {
    height: calc(100vh - 365px);
    overflow: auto;
    display: flex;
    flex-flow: wrap;
}

#Infographic .card {
    padding: 10px;
    border: none;
    background-color: transparent;
}

#Infographic .card-title :first {
    display: inline-flex;
}

#Infographic .card-title b {
    margin-left: 60px;
}

#Infographic .card-title .icon {
    font-size: 50px;
    position: absolute;
}

#Infographic .card-text {
    display: flex;
}

#Infographic p {
    text-indent: 4.0em;
}

#Infographic .imgLeft {
    float: left;
    border-radius: .5em;
    outline: solid 5px white;
    margin: 5px 0px 5px 20px;
}

#Infographic .imgRight {
    float: right;
    border-radius: .5em;
    outline: solid 5px white;
    margin: 5px 0px 5px 20px;
}

@media screen and (max-width: 700px) {
    #Calendar {
        right: 65px
    }

    #InfographicTitle {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    #Calendar {
        left: 50%;
        transform: translate(-50%, -50%);
        right: auto;
        bottom: 45px;
    }

    #InfographicClose {
        font-size: 32px;
    }

    #InfographicTitle {
        font-size: 20px;
    }
}


#Satellite img {
    max-height: 83px;
    width: auto;
    height: auto;
}