@media screen and (max-width: 700px),
screen and (max-height: 420px) {

    .compass,
    .navigation-controls {
        display: block !important;
    }
}

#Loading {
    position: absolute;
    height: 100%;
    left: 50%;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#Loading h1 {
    text-align: center;
    display: 'inline';
    margin: auto;
    width: 50%;
    padding: 10px;

}

#Logo {
    position: absolute;
    top: 5px;
    z-index: 999;
    height: 120px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#Logo img {
    height: calc(5vw);
    min-height: 50px;
    max-height: 200px;
}

#Credit {
    position: absolute;
    bottom: 25px;
    z-index: 998;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#Credit img {
    height: calc(3vw);
    min-height: 30px;
    max-height: 75px;
}

#SelectFlyTo {
    padding: 5px;
}

#Toolbar {
    display: flex;
    position: absolute;
    z-index: 9999;
    right: 10px;
    top: 50px;
    font-size: 20px;
}

#Toolbar td {
    padding: 5px;
}

.cesium-infoBox {
    left: 5px;
    top: 120px;
}

label {
    color: white;
    cursor: pointer;
}

#Calendar {
    position: absolute;
    z-index: 9999;
    right: 170px;
    bottom: 10px;
}

@media screen and (max-width: 500px) {
    #Calendar {
        left: 50%;
        transform: translate(-50%, -50%);
        right: auto !important;
        bottom: 45px;
    }
}

@media screen and (max-width: 3440px) {
    #Calendar {
        right: 65px
    }
}